[submodule "engine"]
	path = engine
	url = git@github.com:RA2A/OpenRA.git
	branch = update
[submodule "mods/ra2a/OpenRA.Mods.RA2A"]
	path = mods/ra2a/OpenRA.Mods.RA2A
	url = git@github.com:RA2A/OpenRA.Mods.RA2A.git
	branch = update
